*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Arial, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1,
h2 {
  font-family: serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  line-height: 1.2;
}

.no-scroll {
  overflow: hidden;
  touch-action: none;
}
input {
  font: inherit;
  border: none;
  border-bottom: 1px solid black;
}
