---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Origin Story">
  <section class="origin-story">
    <h2>Our Vision</h2>
    <p>
      We specialize in capturing the essence of your wedding's fleeting moments
      with a touch of elegance and sophistication. Our goal is to create
      stunning photographs and cinematic short films that convey an ethereal yet
      understated quality, while also being emotionally charged and intimate.
    </p>
    <p>
      Our philosophy is that weddings should be focused on celebrating love,
      rather than being overly extravagant events. We aim to reveal, rather than
      conceal, the true nature of our subjects through our photography. We never
      want to take away from the special moments of your day, but instead strive
      to preserve them in a way that allows you to relive them.
    </p>
    <p>
      The beauty of weddings lies in the many tomorrows they bring, and we use
      our artistic vision to capture that joy and transform it into timeless
      family heirlooms. These precious memories will be cherished for
      generations, carrying on the legacy of your love through all the tomorrows
      to come.
    </p>

    <h2>Behind the Lens</h2>
    <p>
      Olani Ureta is renowned for their timeless, yet refreshingly contemporary,
      still shots and breathtakingly cinematic films that take inspiration from
      the beauty of nature. Since 2006, Olani has been refining their skills in
      wedding, fashion, and nature photography. Combining their keen eye for
      capturing subjects in natural light with their ability to create an
      atmosphere where clients can be present in the moment and forget about the
      camera, Olani produces intimate and artfully composed images that never
      feel forced or artificial.
    </p>
    <p>
      Olani's photos and films challenge the overly formal approach of
      traditional wedding photography by using natural light and perspective to
      capture and preserve moments of the love story that may have gone
      unnoticed during the hustle and bustle of the big day. Olani believes that
      angles and perspective are essential to showcase the best of the couple
      and their surroundings, but that photography is not about posing - it's
      about capturing the emotions present in the moment.
    </p>
    <p>
      What Olani loves most about shooting weddings is giving their clients the
      chance to see their special day through an artist's eyes. Olani
      understands that preserving the emotions and memories of the wedding day
      requires a combination of skill and sensitivity, and that their job is to
      create images that tell a story and capture the unique essence of the
      couple's love.
    </p>
  </section>
</Layout>

<style>
  .origin-story {
    background-color: #f3efea;
    padding: 10%;
    margin-block-end: 3rem;
  }

  .origin-story h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-block-end: 1rem;
  }

  .origin-story p {
    font-size: 1.25rem;
  }

  .origin-story > p {
    margin-block-end: 1.75em;
  }
</style>
